

#image1{
	-webkit-filter: blur(10px);
-moz-filter: blur(10px);
-o-filter: blur(10px);
-ms-filter: blur(10px);
filter: blur(10px);
}


#image2, #image4, #image6{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#image3{
	-webkit-filter: sepia(100%); /* Safari 6.0 - 9.0 */
    filter: sepia(100%);
}


body{
	width: 80%;
	margin: 0 auto;
	background-color: black;
	font-family: Dancing Script;
	padding:5pt
}

.top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content:space-between;
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	text-shadow: -2px -2px  #02010a;
	color: white;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}



#big_image_container{
	margin: auto;
	width: 80%;
}

#big_image{
	margin-top: 10pt;
	margin-bottom: 10pt;
  display: block;
  width: 100%;
  height: auto;
}

#index{
	text-decoration: none;
}


.below_top_conatiner {
	width: 100%;
	color: black;
	background-color: #82c3a6;
	display: flex;
	justify-content: center;
	align-content:center;
}

.images_parent{

	 display: -webkit-flex;
  	display: flex;
	  -webkit-flex-flow: row wrap;
	  flex-flow: row wrap;
			width: 100%;
			color: black;
			background-color: #d5c75f;
			display: flex;
			justify-content: center;
			align-content:center;

}

.imagen_c{
		margin: auto;
		width: 30%;
		min-width: 200pt;
}
.imagen{
	margin-top: 10pt;
	margin-bottom: 10pt;
  display: block;
  width: 100%;
  height: auto;
}



 footer {
	padding: 10pt;
 	border-radius: 0px 0px 10px 10px;
 	background-color: #C6d5c5;
 	justify-content: space-between;
 	align-content:space-between;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

h1{
	margin-left: 15pt;
}

.navi_contain{
	margin-right: 10pt;
	-webkit-align-items: center; /* Safari 7.0+ */
	-webkit-justify-content: center; /* Safari 6.1+ */
	 display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */

   display: flex;
   flex-direction: row;
	 justify-content: center;
	 align-items: center;
}

.navi{
	color: white;
}
